nav {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

nav a {
  padding: 0.5rem;
  border-radius: 0.2rem;
  display: inline-block;
  min-width: 9rem;
  text-decoration: none;
  color: #555;
  border: solid 1px #aaa;
  text-align: center;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}